# MDK-ARM
project/MDK_V5/*
!project/MDK_V5/RM2027AT.uvoptx
!project/MDK_V5/RM2027AT.uvprojx
!project/MDK_V5/startup_at32f423.s
!project/MDK_V5/ArteryTek.AT32F423_DFP.2.1.4.pack

# BUILD
build/
*.o
*.obj
*.d
*.crf
*.axf
*.elf
*.hex
*.bin
*.map
*.lst
*.log

# VSCode
.vscode/*
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# OS
*.swp
*~
.DS_Store
Thumbs.db

# ATWP
project/inc/backup
project/src/backup
